@model IEnumerable<OdeToFood.Data.Models.RestaurantModel>
@{
    ViewBag.Title = "Index";
}

<h2>Restaurants</h2>

<p>@Html.ActionLink("Add New Restaurant", "Create")</p>
<br />

@foreach (var item in Model)
{
    @Html.Partial("_RestaurantSummary", item)
}
