@model IEnumerable<OdeToFood.Data.Models.RestaurantModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p1>There are @Model.Count() restaurants in Database</p1>
    @DateTime.Now.Year
</div>
